body {
  font-family: "Raleway", sans-serif;
  background-image: url(../img/back.jpg);
  background-repeat: repeat;
}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.selfcard {
  display: flex;
  justify-content: center;
}

.selfcard-content img {
  max-width: 10rem;
  border-radius: 50%;
  margin-bottom: -170px;
  border: solid;
  border-width: 0.4rem;
  border-color: rgba(0, 0, 0, 0.25);
}
/* Acerca de mi  */

#Acerca-de-mi {
  height: auto;
  width: auto;
  background-color: rgba(var(--bs-dark-rgb));
}

#Acerca-de-mi h5,
h2,
p,
i {
  color: antiquewhite;
}

#Acerca-de-mi h2 {
  padding-top: 3.4rem;
}

.icono {
  transition: 0.3s;
}

.icono:hover {
  transform: scale(1.1);
}

/* Mis Trabajos */
.card {
  background-color: rgba(var(--bs-dark-rgb));
  border-radius: 5%;
  border: none;
  cursor: pointer;
  margin: 1rem;
  transition: .6s;
  transition-delay: 0s;
  
}

.card:hover {
  transition-delay: 1s;
  -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.75);
}

.card-img-top {
  border: none;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.card-wrapper {
  border: none;
  display: flex;
}

#Mis-trabajos h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

.card h5 {
  color: antiquewhite;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #b7b7b7;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  top: 50%;
}

.carousel-control-prev {
  margin-left: -2rem;
}

.carousel-control-next {
  margin-right: -2rem;
}


/* Contacto */

#Contacto {
  background-color: rgba(var(--bs-dark-rgb));
}

#Contacto form label {
  font-weight: 700;
  color: white;
}

/* Media querys */

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}

@media (min-width: 768px) {
  #Acerca-de-mi {
    border-bottom-left-radius: 5%;
  }
}

@media (max-width: 992px) {
  .card-display {
    display: none;
  }
  .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .carousel-control-prev {
    margin-left: -0.5rem;
  }

  .carousel-control-next {
    margin-right: -0.5rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 6vh;
    height: 6vh;
  }
}
