body {
  font-family: "Raleway", sans-serif;
  background-image: url(../img/back.jpg);
  background-repeat:repeat;

}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
/* Acerca de mi  */

#Acerca-de-mi {
  height: auto;
  width: auto;
  background-color: rgba(var(--bs-dark-rgb));
}

#Acerca-de-mi h5,
h2,
p,
i {
  color: antiquewhite;
}
/* imagen trasera se las cards */
.image-hover1 {
  background-image: url(../img/card-1.2.jpg);
  background-repeat: no-repeat;
}
.image-hover2 {
  background-image: url(../img/card-2.2.jpg);
  background-repeat: no-repeat;
}
.image-hover3 {
  background-image: url(../img/card-3.2.jpg);
  background-repeat: no-repeat;
}
.image-hover4 {
  background-image: url(../img/card-4.2.jpg);
  background-repeat: no-repeat;
}
.image-hover5 {
  background-image: url(../img/card-5.2.jpg);
  background-repeat: no-repeat;
}
.image-hover6 {
  background-image: url(../img/card-6.2.jpg);
  background-repeat: no-repeat;
}

.card {
  background-color: rgba(var(--bs-dark-rgb));
  background-size: 10.68rem;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-left-radius: 10%;
  border: none;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: antiquewhite;
  border-top-left-radius: 5%;
  transition: 0.5s;
}

.image-top:hover {
  transform: translateX(25%);
}

#Mis-trabajos h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

#Mis-trabajos h5 {
  color: antiquewhite;
}

.icono {
  transition: 0.3s;
}

.icono:hover {
  transform: scale(1.1);
}

/* Contacto */

#Contacto {
  background-color: rgba(var(--bs-dark-rgb));
}

#Contacto form label {
  font-weight: 700;
  color: white;
}

/* Media querys */

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}

@media (min-width: 768px) {
  #Acerca-de-mi {
    border-bottom-left-radius: 5%;
  }
}
